<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Profile
    </div>
    <div class="panel-body">

      <!--  Area to display Total net profit / loss
            Bitcoin price
            Other stats
      -->

      <!-- Maybe some navigation buttons -->

      <!--

      -->
      <p>You have {{transactions.length}} transactions</p>
      <table class="table table-striped" data-allow-multiple="true" bs-collapse>
        <thead>
          <th><a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
            <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
            Date
          </th>
          <th>
            <a href="#" ng-click="sortType = 'amount'; sortReverse = !sortReverse">
            <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
            Amount (<i class="fa fa-btc"></i>)</th>
          <th>Buy value ($)</th>
          <th>Value now ($)</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
          <!--<th>Value now/ Sell value</th>-->
          <tr ng-repeat-start="transaction in transactions | orderBy:sortType:sortReverse" data-allow-multiple="true" aria-multiselectable="true" class="clickable" bs-collapse-toggle >
            <td><a href="#" >{{transaction.date | date:'dd/MM/yyyy'}}</a></td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.buyValue }}</td>
            <td>{{ transaction.amount * price.usd | currency }}</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-trash" ng-click="areYouSure(transaction)"></span></td>
            <tr ng-repeat-end  bs-collapse-target>
                <td colspan=6>htrg</td>
            </tr>
          </tr>

      </table>

      <!--
          add Transaction form
      -->

      <div id="addTransaction">
        <div class="row">
          <div class="center-form panel">
            <form method="post" ng-submit="addTransaction()" name="addTransactionForm">
              <div class="panel-body">
                <h2 class="text-center">Add Transaction</h2>

                <div class="form-group"
                     ng-class="{ 'has-success' : addTransactionForm.amount.$valid && addTransactionForm.amount.$dirty, 'has-error' : addTransactionForm.amount.$invalid && addTransactionForm.amount.$dirty }">
                  <input class="form-control input-lg" type="number" id="amount"
                         name="amount" ng-model="amount" step="any" min="0" placeholder="Buy Amount" required
                         autofocus>

                  <div class="help-block text-danger" ng-if="addTransactionForm.amount.$dirty"
                       ng-messages="addTransactionForm.amount.$error">
                    <div ng-message="required">You must enter an amount</div>
                    <div ng-message="number">Amount is invalid. Must be greater than 0</div>
                  </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-success' : addTransactionForm.buyValue.$valid && addTransactionForm.buyValue.$dirty, 'has-error' : addTransactionForm.buyValue.$invalid && addTransactionForm.buyValue.$dirty }">
                  <input class="form-control input-lg" type="number" id="buyValue"
                         name="buyValue" ng-model="buyValue" step="any" min="0" placeholder="Buy Value ($)" required
                         autofocus>

                  <div class="help-block text-danger" ng-if="addTransactionForm.buyValue.$dirty"
                       ng-messages="addTransactionForm.buyValue.$error">
                    <div ng-message="required">You must enter a buy value</div>
                    <div ng-message="number">Buy value is invalid. Must be greater than $0</div>
                  </div>
                </div>

                <div class="form-group" ng-class="{'has-error': addTransactionForm.date.$invalid}">
                  <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(optional)</small></label>
                  <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
                </div>

                <button type="submit" ng-disabled="addTransactionForm.$invalid"
                        class="btn btn-lg btn-block btn-primary">Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
